{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Mbu Enow Tagem</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' %}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="{% static 'tagem.jpg' %}" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="index.html">Mbu Enow Tagem</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

            <nav class="nav-menu">
                <ul>
                    <li class="active"><a href="#homepage"><i class="bx bx-home"></i> <span>Homepage</span></a></li>
                    <li><a href="#research"><i class="bx bx-file-blank"></i> <span>Research</span></a></li>
                    <li><a href="#publication"><i class="bx bx-book-content"></i> Publication</a></li>
                    <li><a href="#cv"><i class="bx bx-server"></i>Curriculum Vitae</a></li>
                    <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

                </ul>
            </nav>
            <!-- .nav-menu -->
            <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Mbu Enow Tagem</h1>
            <p><span class="typed" data-typed-items=""></span></p>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Homepage Section ======= -->
        <section id="homepage" class="about">
            <div class="container">
                <div class="section-title">
                    <h2>Home</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-right">
                        <img src="{% static 'tagem.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-4 content" data-aos="fade-left">
                        <h3>About Me</h3>
                        <p>
                            {% for about in about%} {{about.about}} {% endfor %}
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Homepage Section -->
        <!-- ======= Research Section ======= -->
        <section id="research" class="portfolio section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Research</h2>
                    <p>
                        My research interests, focusing on low-income SSA countries, include:
                    </p>
                </div>
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                    {% for paper in papers %}
                    <div class="col-lg-6 col-md-6 portfolio-item">

                        <div class="card" style="width: 30rem;">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{paper.paperName}}</h5>
                                <p class="card-text">{{paper.paperDescription}}</p>
                                <button class="btn btn-primary" disabled>Uploaded on {{paper.date}}</a>
                        </div>
                        
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>
        <!-- End Research Section -->
        <!-- ======= Publication Section ======= -->
        <section id="publication" class="portfolio section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Publication</h2>
                    <p>My -------, focusing -------------, include:</p>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                {% for paper in papers %}
                    <div class="col-lg-6 col-md-6 portfolio-item">
                        
                        <div class="card" style="width: 30rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{paper.paperName}}</h5>
                            <p class="card-text">{{paper.paperDescription}}</p>
                            <button class="btn btn-primary" disabled>Uploaded on {{paper.date}}</a>
                        </div>
                        
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </section>
        <!-- End Publication Section -->

        <!-- ======= Resume Section ======= -->
        <section id="cv" class="resume">
            <div class="container">

                <div class="section-title">
                    <h2>Curriculum Vitea</h2>
                        <button id='cv1' class="btn-primary btn-lg">Download CV</a>

                </div>
            </div>
        </section>
        <!-- End Resume Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                </div>

                <div class="row" data-aos="fade-in">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Location:</h4>
                                <p>Maison blanche TKC,yaounde</p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Call:</h4>
                                <p>+237 674 12 85 73</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63693.77577282982!2d11.453545330815762!3d3.8400046649285233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bcfcfba91be3b%3A0x3eb618bb8fc3a303!2sBiyem-Assi%2C%20Yaounde!5e0!3m2!1sen!2scm!4v1585307946498!5m2!1sen!2scm"
                                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                            </form>
                        </div>

                    </div>

                </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>
        	<script type="text/JavaScript">
			document.write(new Date().getFullYear());
			</script>
        	</span></strong>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
                Designed by <a href="#">Parkson Tano Daniel</a>
            </div>
        </div>
    </footer>
    <!-- End  Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
        $('#cv1').click(function() {
            alert('CV not ready');
        })
    </script>
</body>

</html>